<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <title>トップ画面</title>
</head>
<body id="myprofile">

<!--未ログインユーザー用のヘッダー-->
<!--ログイン済みユーザー用のヘッダー-->
<header class="l-Header">
    <div class="l-Header-Wrapper">
        <div class="l-Header-Wrapper__logo">
            <a href="">イメージロゴ</a>
        </div>
        <ul class="l-Header-Wrapper__list l-Header-List">
            <li><a href="/my/MyPage.html" class="u-Arrow-Down">マイページ</a></li>
            <li><a href="/item/Item-List.html" class="u-Arrow-Down">商品一覧</a></li>
            <li><a href="/" class="u-Arrow-Down">Top</a></li>
            <li><a href="" class="u-Arrow-Down">ログアウト</a></li>
        </ul>
    </div>
</header>

<!--ログイン済みユーザー用のヘッダー-->
<!--
<header class="l-header">
    <div class="l-Header-Wrapper">
        <div class="l-Header-Wrapper__Logo">
            <a href="">イメージロゴ</a>
        </div>
        <ul class="l-Header-Wrapper__list l-Header-List">
            <li><a href="./my/mypage.html" class="u-Arrow-Down">マイページ</a></li>
            <li><a href="./item/item-list.html" class="u-Arrow-Down">商品一覧</a></li>
            <li><a href="/" class="u-Arrow-Down">Top</a></li>
            <li><a href="" class="u-Arrow-Down">ログアウト</a></li>
        </ul>
    </div>
</header>
-->

<main>
    <div class="u-Container-X--veryshort">
      <div class="u-Container-Y-P--normal">
  
        <div class="myprofile-Form-Wrapper login-reg-Form-Wrapper">
          <h1 class="u-Container-Y--short --centerText">プロフィール</h1>
          <div class="myprofile-Form-Wrapper__Info login-reg-Form-Wrapper__Reg">
              <div class="myprofile-Info u-Container-Y--short"><!--関節クラス-->
                <h2 class="myprofile-Info__text u-Container-Y--very-short">
                  <span class="u-text-child-short">お名前</span>：<br class="u-sp-only"><span>ここヘクマティアル</span></p>
                </h2>
                <form action="myprofile-Info__form">
                  <div class="My-Img">
                      <input class="My-Img__input" type="image" src="/images/bijo.jpg" readonly="readonly">
                     </div>
                  <p>
                    <span>現在のメールアドレス</span><br>
                    <span class="u-text--has-Padding-Left15">123123123@gmail.com</span>
                  </p>
                  <label for=""><span>新メールアドレス</span>
                    <input class="u-Form-back--confirmChange" type="eamil" readonly="readonly" value="9999@gmail.com">
                  </label>
                  
                  <label for=""><span>現在のパスワード</span>
                    <input class="u-Form-back--confirmChange" type="text" placeholder="現在のパスを入力してください" readonly="readonly" value="1234567koko">
                  </label>
                  <label for=""><span>新パスワード</span>
                    <input class="u-Form-back--confirmChange" type="text" readonly="readonly" value="1234567koko">
                  </label>
                  <div class="c-Form-Button">
                      <input type="submit" value="編集確定">
                  </div>
                </form>
                <a href="/my/MyPage.html">編集確定する(仮)</a><!--遷移先でアラート--><br>
                <a href="/my/MyProfile.html">編集画面へ戻る(仮)</a>
              </div>
            </div>
        </div>
        <!--login-reg-Form-Wrapper-->
      </div>
      <!--u-Container-Y-P--normal-->
    </div>
    <!--U-Container-X--verylarge-->
  </main>

<footer class="l-Footer">
    <div class="l-Footer-container">
        <div class="l-Footer-Wrapper">
            <div class="l-Footer-Wrapper__profile">
                <ul class="l-Footer-Profile__list">
                    <li><a href="#"></a></li>
                    <li><p class="c-Text-Style">iYell株式会社</p></li>
                    <li><p class="c-Text-Style5">〒150-0043</p></li>
                    <li><p class="c-Text-Style5">東京都渋谷区道玄坂2-16-8 道玄坂坂本ビル7階</p></li>
                    <li><p class="c-Text-Style10">Tel: 03-6455-1005 (代表) </p></li>
                    <li><p class="c-Text-Style5">Fax: 03-6455-1004</p></li>
                </ul>
                <p class="l-Footer-Profile__link">
                    <a href="#">
                        採用サイト
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <a href="https://ja-jp.facebook.com/iYell.corp/" target="_blank"><img class="c-Facebook-Link" src="https://iyell.co.jp/wp-content/themes/iyell-corp/img/sns_01.png" alt=""></a>
                    <a href="https://twitter.com/iyell_happyell" target="_blank"><img class="c-Twitter-Link" src="https://iyell.co.jp/wp-content/themes/iyell-corp/img/sns_03.png" alt=""></a>
                </p>
            </div>
            <div class="l-Footer-Wrapper__links">
                <ul class="l-Footer-Map">
                    <li class="l-Footer-Map__text"><a href="">ホーム</a></li>
                    <li class="l-Footer-Map__text c-Text-Style10"><a href="">経営方針</a></li>
                    <li class="l-Footer-Map__list">
                        <ul>
                            <li class="c-Text-Style5"><a href="">経営理念</a></li>
                            <li class="c-Text-Style5"><a href="">代表者メッセージ</a></li>
                            <li class="c-Text-Style5"><a href="">ビジョン・ミッション</a></li>
                            <li class="c-Text-Style5"><a href="">バリュー・行動規範</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="l-Footer-Map">
                    <li class="l-Footer-Map__text"><a href="">プラットフォーム</a></li>
                    <li class="l-Footer-Map__text c-Text-Style10"><a href="">サービス</a></li>
                    <li class="l-Footer-Map__list">
                        <ul>
                            <li class="c-Text-Style5"><a href="">住宅事業者向けローンテック</a></li>
                            <li class="c-Text-Style5"><a href="">住宅ローンの窓口</a></li>
                            <li class="c-Text-Style5"><a href="">金融期間向け住宅ローンテック</a></li>
                            <li class="c-Text-Style5"><a href="">住宅ローンの窓口ONLINE</a></li>
                            <li class="c-Text-Style5"><a href="">いえーるコンシェル</a></li>
                            <li class="c-Text-Style5"><a href="">いえーる コンシェル 不動産投資版</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="l-Footer-Map">
                    <li class="l-Footer-Map__text"><a href="">メンバー</a></li>
                    <li class="l-Footer-Map__text c-Text-Style10"><a href="">アソビゴコロ</a></li>
                    <li class="l-Footer-Map__list">
                        <ul>
                            <li class="c-Text-Style5"><a href="">オフィシャルキャラクター</a></li>
                            <li class="c-Text-Style5"><a href="">スポーツ観戦</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="l-Footer-Map">
                    <li class="l-Footer-Map__text"><a href="">会社情報</a></li>
                    <li class="l-Footer-Map__list">
                        <ul>
                            <li class="c-Text-Style5"><a href="">会社概要</a></li>
                            <li class="c-Text-Style5"><a href="">個人情報保護方針</a></li>
                            <li class="c-Text-Style5"><a href="">お問い合わせ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>            
        </div>
        <p class="l-Footer-Copyright">Copyright © 2018 The iYell Co,. Ltd All Rights Reserved.</p>
</footer>

</body>
</html>